@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@400;500;600;700;800;900&display=swap");

:root {
  --cor-fundo: ;
  --cor-principal-1: ;
  --cor-principal-2: ;
  --cor-principal-3: ;
  --cor-texto: ;
  --cor-texto-botoes: ;
  --cor-texto-container: ;
  --cor-container: ;
  --cor-filtro: ;
}

.testeeeee {
  color: #d4b684;
  color: #b19ae4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  scroll-behavior: smooth;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 0 !important;
}

::selection {
  background: var(--cor-principal-3);
}

body {
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.agenda-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px 0 24px 0;
  width: 100%;
}

.agenda-header .header-title {
  text-decoration: underline var(--cor-principal-1);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
}

.header-title span {
  color: var(--cor-principal-1);
}

.agenda-header .dia-atual {
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 1.5em;
  padding-bottom: 3em;
}

.item {
  padding-bottom: 0.5em;
  width: 85%;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

.mostrando {
  border-radius: 5px 5px 0px 0px;
}

.data {
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 0.5em 0 0 0;
  gap: 2em;
  text-align: justify;
}

.data h3 {
  background-color: var(--cor-principal-1);
  color: var(--cor-texto-botoes);
  padding: 0.5em 1em;
  border-radius: 5px;

  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.agenda-pessoal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.form-add-elemento {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 310px;
  margin-bottom: 0.5em;
}

.form-add-elemento input,
.anotação {
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.input-name-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
}

.input-name-div span {
  color: var(--cor-texto);
  width: 100%;
  padding-left: 0.5em;

  font-size: 14px;
}

.input-name-div span strong {
  color: red;
}

.input-name-div input {
  background: var(--cor-principal-2);
  color: var(--cor-texto-botoes);
  padding: 1em;
  border-radius: 5px 5px 0 0;

  width: 100%;
  height: 30px;
}

.anotação {
  resize: none;
  width: 310px;
  height: 50px;
  padding: 0.5em 1em;
  margin: -0.5em 0;

  background-color: var(--cor-principal-2);
  color: var(--cor-texto-botoes);

  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

.data-submit-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  width: 100%;
}

.data-submit-div input.data {
  padding: 0.5em 1em;
  width: 50%;
  height: 30px;

  background: var(--cor-principal-2);
  color: var(--cor-texto-botoes);
}

.data-submit-div input.hora {
  padding: 0.5em 1em;
  width: 50%;
  height: 30px;
  background: var(--cor-principal-2);
  color: var(--cor-texto-botoes);
}

.data-submit-div input[type="submit"] {
  cursor: pointer;
  background: var(--cor-principal-1);
  color: var(--cor-texto-botoes);
  width: 100%;
  height: 30px;
  border-radius: 0 0 5px 5px;
}

::-webkit-input-placeholder {
  color: var(--cor-texto-botoes);
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.erro {
  display: none;
  transform: translateY(-30px);
  color: var(--cor-texto);
  opacity: 0;
  padding: 0.5em 0 0 0;
  transition: all 200ms linear;
  text-align: center;
}

.mostrar-erro {
  display: block;
}

.agendamentos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 1.5em;
  margin-bottom: 0.5em;
}

.item-background {
  width: 420px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

  padding: 1em 1em 1em 1em;
  border-radius: 5px;

  background-color: var(--cor-container);
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.agenda-item-descricao {
  width: 65%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  word-wrap: break-word;
  gap: 0.5em;
  color: var(--cor-texto-container);
}

.agenda-item-titulo {
  padding: 0 0 0.5em 0.5em;
  width: 100%;

  color: var(--cor-principal-1);
}

.agenda-item-titulo h3 {
  font-size: 22px;
}

.agenda-item-descricao div {
  word-break: break-word;
}

.agenda-item-descricao span {
  font-weight: 700;
  color: var(--cor-principal-1);
  text-decoration: underline var(--cor-principal-2) 2px;
}

.limpar-agenda button {
  cursor: pointer;
  background: none;

  background-color: var(--cor-principal-1);
  padding: 1em 5em;
  font-size: 18px;
  border-radius: 5px;
  color: var(--cor-texto-botoes);
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.botao-remover button {
  cursor: pointer;
  background: none;

  background-color: var(--cor-principal-1);
  padding: 0.5em 1em;
  border-radius: 5px;
  color: var(--cor-texto-botoes);

  justify-content: center;
  align-items: center;
  display: flex;
}

.checkbox {
  display: flex;
  justify-items: center;
  align-items: center;
}

.checkbox-label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.checkbox-label input {
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: 0;
  top: -3px;
  height: 28.31px;
  width: 28.31px;
  background-color: var(--cor-principal-2);
  border-radius: 5px;
}

.checkbox-label:hover input ~ .checkmark {
  background-color: var(--cor-principal-1);
}

.checkbox-label input:checked ~ .checkmark {
  background-color: var(--cor-principal-1);
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-label input:checked ~ .checkmark::after {
  display: block;
}

.checkbox-label .checkmark::after {
  left: 10px;
  top: 2px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .botao-menu {
    width: 18em;
  }

  .materias button {
    width: 18em;
  }

  .seção-materia {
    width: 22em;
  }

  .item-background {
    width: 22em;
  }
}

.visivel {
  display: flex;
}

.temas-botao {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 3em;
  height: 3em;
  background-color: var(--cor-principal-1);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);

  transition: all 100ms ease-in-out 0s;
}

.temas-botao:hover {
  padding: 0.3em;
}

.temas-botao img {
  width: 80%;
  height: 80%;
  filter: var(--cor-filtro);
}

footer {
  display: flex;
  justify-content: center;

  color: var(--cor-texto);
  margin: 0 0 0.5em 0;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.checado .agenda-item-titulo,
.checado .agenda-item-descricao .anotacao-div {
  text-decoration: line-through var(--cor-principal-1) 3px;
}
