@import "https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap";
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

:root {
  --cor-fundo: #28243c;
  --cor-principal-1: #7949dd;
  --cor-principal-2: #b19ae4;
  --cor-principal-3: #8f06ff67;
  --cor-texto: #fff;
  --cor-texto-botoes: #fff;
  --cor-texto-container: #000;
  --cor-container: #fff;
  --cor-filtro: invert(13%) sepia(25%) saturate(864%) hue-rotate(210deg)
    brightness(96%) contrast(96%);
  --fonte: "Nunito", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  scroll-behavior: smooth;
  flex-wrap: wrap;
  transition: color 1000ms linear;
  transition: background-color 1000ms linear;
}

::-webkit-scrollbar {
  width: 0 !important;
}

::selection {
  background: var(--cor-principal-3);
}

body {
  font-weight: 500;
  font-family: var(--fonte);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.agenda-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px 0;
  width: 100%;
}

.agenda-header .header-title {
  text-decoration: underline var(--cor-principal-1);
  color: var(--cor-texto);
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

.header-title span {
  color: var(--cor-principal-1);
}

.agenda-header .dia-atual {
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
  padding-bottom: 3em;
  width: 100%;
}

.nome-span {
  user-select: none;
}

.item {
  padding-bottom: 0.5em;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.mostrando {
  border-radius: 5px 5px 0 0;
}

.data {
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 0.5em 0 0;
  gap: 2em;
  text-align: justify;
}

.data h3 {
  user-select: none;
  background-color: var(--cor-principal-1);
  color: var(--cor-texto-botoes);
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.agenda-pessoal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.form-add-elemento {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 310px;
  margin-bottom: 0.5em;
}

.form-add-elemento input,
.desc {
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.input-name-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.input-name-div span {
  color: var(--cor-texto);
  width: 100%;
  padding-left: 0.5em;
  font-size: 14px;
}

.input-name-div span strong {
  color: red;
}

.input-name-div input {
  background: var(--cor-principal-2);
  color: var(--cor-texto-botoes);
  padding: 1em;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 30px;
}

.desc {
  resize: vertical;
  width: 310px;
  height: 50px;
  padding: 0.5em 1em;
  margin: -0.5em 0;
  background-color: var(--cor-principal-2);
  color: var(--cor-texto-botoes);
  font-weight: 500;
  font-family: var(--fonte);
}

.data-submit-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.data-submit-div input.data {
  padding: 0.5em 1em;
  width: 50%;
  height: 30px;
  background: var(--cor-principal-2);
  color: var(--cor-texto-botoes);
}

.data-submit-div input.hora {
  padding: 0.5em 1em;
  width: 50%;
  height: 30px;
  background: var(--cor-principal-2);
  color: var(--cor-texto-botoes);
}

.data-submit-div input[type="submit"] {
  cursor: pointer;
  background: var(--cor-principal-1);
  color: var(--cor-texto-botoes);
  width: 100%;
  height: 30px;
  border-radius: 0 0 5px 5px;
}

::-webkit-input-placeholder {
  color: var(--cor-texto-botoes);
  font-weight: 500;
  font-family: var(--fonte);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.erro {
  display: none;
  transform: translateY(-30px);
  color: var(--cor-texto);
  opacity: 0;
  padding: 0.5em 0 0;
  transition: all 200ms linear;
  text-align: center;
}

.mostrar-erro {
  display: block;
}

.agendamentos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 0.5em;
}

.item-background {
  width: 420px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 1em;
  border-radius: 5px;
  background-color: var(--cor-container);
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.agenda-item-descricao {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  word-wrap: break-word;
  gap: 0.5em;
  color: var(--cor-texto-container);
}

.agenda-item-titulo {
  padding: 0 0 0.5em 0.5em;
  width: 100%;
  word-wrap: break-word;
  color: var(--cor-principal-1);
}

.agenda-item-titulo h3 {
  font-size: 22px;
}

.agenda-item-descricao div {
  word-break: break-word;
}

.agenda-item-descricao span {
  font-weight: 700;
  color: var(--cor-principal-1);
  text-decoration: underline var(--cor-principal-2) 2px;
}

.limpar-agenda button {
  cursor: pointer;
  background: none;
  background-color: var(--cor-principal-1);
  padding: 1em 5em;
  font-size: 18px;
  border-radius: 5px;
  color: var(--cor-texto-botoes);
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  margin-bottom: 1em;
}

.botao-remover button {
  cursor: pointer;
  background: none;
  background-color: var(--cor-principal-1);
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-right: .2em;
  color: var(--cor-texto-botoes);
  justify-content: center;
  align-items: center;
  display: flex;
}

.checkbox {
  display: flex;
  justify-items: center;
  align-items: center;
}

.checkbox-label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.checkbox-label input {
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: -5px;
  top: -3px;
  height: 28.31px;
  width: 28.31px;
  background-color: var(--cor-principal-2);
  border-radius: 5px;
}

.checkbox-label:hover input ~ .checkmark {
  background-color: var(--cor-principal-1);
}

.checkbox-label input:checked ~ .checkmark {
  background-color: var(--cor-principal-1);
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-label input:checked ~ .checkmark::after {
  display: block;
}

.checkbox-label .checkmark::after {
  left: 10px;
  top: 2px;
  width: 10px;
  height: 20px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .botao-menu {
    width: 18em;
  }

  .materias button {
    width: 18em;
  }

  .seção-materia {
    width: 22em;
  }

  .item-background {
    width: 22em;
  }
}

.visivel {
  display: flex;
}

.botao-flutuante {
  user-select: none;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2.5em;
  height: 2.5em;
  background-color: var(--cor-principal-1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 99;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  transition: all 100ms ease-in-out 0s;
}

.config-botao img {
  height: 65%;
  filter: var(--cor-filtro);
}

.temas-botao {
  top: 100px;
}

.temas-botao img {
  height: 80%;
  filter: var(--cor-filtro);
}

.backup-botao {
  top: 55px;
}

.backup-botao img {
  height: 65%;
  filter: var(--cor-filtro);
}

.botao-flutuante:hover {
  padding: 0.3em;
}

.tela-backup,
.tela-config {
  width: 20em;
  min-height: 26em;
  padding: 0.5em 1em;
  place-items: center;

  background-color: var(--cor-container);
  color: var(--cor-texto-container);

  position: fixed;

  top: 50%;
  margin-top: -13rem;
  left: 50%;
  margin-left: -10rem;

  z-index: 10;

  display: none;

  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  transition: backup 100ms ease-in-out 0s;

  border-radius: 20px;
  border: var(--cor-principal-2) 1px solid;
  opacity: 0;
}

.mostrar-card {
  display: grid;
}

.backup-titulo,
.backup-descricao {
  text-align: center;
}

.backup-titulo h1 {
  padding-bottom: 0.5em;
  text-decoration: underline var(--cor-principal-1) 3px;
}

.backup-titulo span,
.backup-descricao span {
  text-align: center;
  font-size: 16px;
}

.backup-titulo span span,
.backup-descricao span span {
  background-color: var(--cor-principal-1);
  padding: 0.1em 0.3em;
  border-radius: 5px;
  color: var(--cor-texto-botoes);
}

.backup-descricao span span {
  cursor: pointer;
}

.json-atual {
  cursor: pointer;
  text-align: center;
  background-color: var(--cor-principal-1);
  color: var(--cor-texto-botoes);

  border-radius: 10px;
  padding: 1em 2em;
  margin: 1em 0;
  width: 60%;
}

.novo-json {
  width: 80%;
  height: 6em;
  max-height: 6em;
  display: flex;
  justify-content: center;
}

.novos-dados-txt {
  background-color: var(--cor-principal-2);
  border-radius: 10px;
  padding: 0.5em 1em;
  color: var(--cor-texto-botoes);
  width: 90%;

  resize: none;
}

@keyframes cardIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  display: flex;
  justify-content: center;
  color: var(--cor-texto);
  z-index: 99;
  /* margin: 0 0 0.5em; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--cor-fundo);
  padding: 1em;
}

footer a {
  color: var(--cor-principal-1);
}

.checado .agenda-item-titulo,
.checado .agenda-item-descricao .desc-div {
  text-decoration: line-through var(--cor-principal-1) 3px;
}

.tela-config .config-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  width: 100%;
}

.tela-config .config-form h1 {
  color: black;
  text-decoration: underline var(--cor-principal-1) 3px;
  font-size: 35px;
}

.tela-config .config-form .config-section {
  padding: 1em 2em;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.config-section-h2 {
  color: var(--cor-principal-1);
  text-decoration: underline var(--cor-principal-2) 3px;
  padding-bottom: 0.5em;
  align-self: center;
  text-align: center;
}

.config-usuario {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.config-usuario input {
  color: var(--cor-texto-botoes);
  width: 60%;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: var(--cor-principal-2);
}

.config-usuario input:focus {
  background-color: var(--cor-principal-1);
}

.tela-config .config-form .config-font {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 0.5em;
  color: var(--cor-texto-botoes);
}

.config-font-fontes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5em;
}

.config-radio-label {
  cursor: pointer;
  user-select: none;
}

.config-radio-label input {
  display: none;
  cursor: pointer;
}

.radio-config-button {
  background-color: var(--cor-principal-2);
  border-radius: 5px;
  text-align: center;

  padding: 0.3em 0.5em;

  width: 8em;
}

.config-radio-label:hover input ~ .radio-config-button {
  background-color: var(--cor-principal-1);
}

.config-radio-label input:checked ~ .radio-config-button {
  background-color: var(--cor-principal-1);
}

.tela-config .config-form .config-submit input {
  cursor: pointer;
  background-color: var(--cor-principal-1);
  color: var(--cor-texto-botoes);

  border-radius: 10px;
  margin-top: 2em;
  padding: 1em 3em;
}

.tela-backup,
.tela-config {
  width: 24rem;
  min-height: 30rem;
  height: auto;

  margin-left: -12rem;
  margin-top: -18rem;
}

.novo-json {
  width: 100%;
}

.config-usuario-layout {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}

.config-usuario-layout .sexo-radio {
  display: none;
}

.config-usuario-layout label {
  color: var(--cor-texto-botoes);
  background-color: var(--cor-principal-2);
  font-size: 14px;
  border-radius: 5px;

  width: 28.31px;
  height: 28.31px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.config-usuario-layout label:hover {
  background-color: var(--cor-principal-1);
  cursor: pointer;
}

.config-usuario-layout .sxM:checked ~ label[class="M"] {
  background-color: var(--cor-principal-1);
}
.config-usuario-layout .sxF:checked ~ label[class="F"] {
  background-color: var(--cor-principal-1);
}

.agenda-item-anot {
  resize: vertical;
  min-height: 40px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-top: .5em;
  background-color: var(--cor-principal-2);
  color: var(--cor-texto-botoes);
  font-weight: 500;
  font-family: var(--fonte);
}
